
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App Lobby</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lobby.css') }}">

</head>
<body>
    <h1>Hello, welcome to chat app!</h1>

    <h2>This is the home page</h2>
    <div id="lcontainer">
    <div id="createromm">
    <h3 class="chatr">Create a room:</h3>
    <form method="POST">
      <label for="rname">room name:</label><br>
      <input type="text" id="rname" name="new_room"><br>
      <input id="enterbtn" type="submit" name="Create" value="Create">
    </form></div>

    <div id="enterroom">
    <h3 class="chatr">Enter a chat room:</h3>
    <form action="/" method="POST" id="chat-form">
        <label id="roomname" for="room" >Room name:</label><br>
        <select name="room" id="room">
            {% for room in room_names %}
            <option value="{{ room }}">{{ room }}</option>
            {% endfor %}
        </select><br>
        <input id="enterbtn" type="submit" name="enter" value="Enter">
    </form></div></div>


    <br>
    <br>
    <a href="/logout">logout</a>

    <script>
        document.getElementById('chat-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            
            var selectedRoom = document.getElementById('room').value;
            window.location.href = "/chat/" + selectedRoom; // Redirect to /chat/<room>
            
        });
    </script>
</body>
</html>

